body {
    margin: 0px;
    display: flex;
    align-items: center;
}

#scatterplot {
}

#experiment {
    height: 100vh;
    width: 100vh;
    border-right: 1px solid #ccc;
}

.experiment-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.experiment-info .details {
display: flex;
flex-direction: column;
align-items: center;
}

.values-container {
    display: flex;
    margin: 8px 0px;
    gap: 32px;
}

