* {
    margin: 0;
    padding: 0;
}

body {
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 1px;
}

textarea {
    border: 2px solid Gainsboro;
    margin-bottom: 1px;
    outline: none;
    border-radius: 5px;
    height: 300px;
    resize: none;
    overflow: scroll;
}

#logs {
    max-height: 200px;
    overflow-y: auto;
    margin: 8px;
    border: 1px solid #d9d5d5;
    border-radius: 8px;
    padding: 8px;
}

#logs .record-row-container {
    display: flex;
    flex-direction: column;;
    justify-content: center;
    padding: 8px 0px;
    border-bottom: 1px solid #f2f2f2;
}

#logs .record-row-container .record-row-title {
    font-weight: bold;
}

#logs .record-row-container:last-child {
    border-bottom: 0px;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 8px;
}

button {
    background-color: Silver;
    border: none;
    color: white;
    padding: 6px 2px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: DarkGray;
    box-shadow: rgba(192, 192, 192, 0.2) 0px 8px 24px;
}

button:disabled {
    background-color: Gainsboro;
    cursor: not-allowed;
}

button:active {
    background-color: Silver;
}
